<section id="cta">
    <h3 class="heading-big">Want to work together ?</h3>
    <form action="/formsubmit" method="post" class="row g-3">
      <div class="col-md-6 form-cta">
        <input type="text" class="form-control" id="inputName" name="firstname" placeholder="Firstname">
        
      </div>
      <div class="col-md-6 form-cta">
        <input type="text" class="form-control" id="inputMobile" name="lastname" placeholder="Lastname">
      </div>
      <div class="col-md-6 form-cta">
        <input type="text" class="form-control" id="inputSubject" name="subject" placeholder="Enter your subject">
      </div>
      <div class="col-md-6 form-cta">
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="abc123@gmail.com">
      </div>
      <div class="col-12">
        <input type="text" class="form-control input-message" name="message" id="inputMessage"  placeholder="Hello Sam, I have a message for you...">
      </div>
      <div class="col-12" style="text-align: center;">
        <button type="submit" class="btn-submit">Submit</button>
      </div>
    </form>
  </div>
</section>