<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sampad Adhikary</title>
    <link rel="shortcut icon" href="css/Resources/icons/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&family=Space+Mono:ital,wght@0,700;1,400&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" >
  </head>
  <body>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/css/Resources/icons/my logo.png" alt="Sampad Adhikary" width="100"></a>
        <button
        id="hamburger-btn"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link"href="#">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Me</a>
              </li>
              <li class="nav-item">
                <button class="btn-resume" ><a rel="noopener" href="https://drive.google.com/file/d/1v1tnME6kw-LQapo6Gu28lxSOUyL0pd4v/view?usp=sharing" target="_blank" >Resume</a></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header>
        <div class="my-intro">
            <h4>Hi, I am</h4>
            <h2>Sampad Adhikary.</h2>
            <h1>I Design and Develop.</h1>
            <div id="bio">            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>  
        </div>
    </header>

    <weather>
      <div class="timeAndWeather">
        <h4>In my place it is</h4>
        <h4 id="currDate"><%= currentDate %></h4>
        <h2><%= currTime %></h2>
        <h4 id="currDate"><%= currTemp %> C, Jalandhar, India</h4>
      </div>
    </weather>

    <getInTouch>
      <div class="get-in-touch">
        <button class="btn-get-in-touch" ><a rel="noopener" >get in touch</a></button>
      </div>
    </getInTouch>

    <about id="about">
      <div class="about">
      <div class="row about-row">
        <div class="col-6 about-content">
          <h3 class="heading-big">About</h3>
          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-6 about-img">
        </div>
      </div>
    </div>

    </about>

    <expertise>
      <div class="expertise">
        <div class="row expertise-row">
          <h3 class="heading-big">My Expertise</h3>
          <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12 expertise-box">
            <img class="expert-img" src="css/Resources/icons/dsa.png" alt="dsa">
            <p class="heading-small">DSA & Problem Solving</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12 expertise-box">
            <img class="expert-img" src="css/Resources/icons/webdev.png" alt="dsa">
            <p class="heading-small">Full Stack Web Development</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12 expertise-box">
            <img class="expert-img" src="css/Resources/icons/graphic.png" alt="dsa">
            <p class="heading-small">Graphic Designing</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          
          </div>
        </div>
      </div>
    </expertise>

    <section id="projects">
      <div class="projects">
        <h3 class="heading-big">My Recent Projects</h3>
      <div class="row row-cols-1 row-cols-md-3  lg-4 project-row">
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/finpet.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">finpet</p>
            <div class="card-body">
              <p class="card-text crd-normal">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <img class="crd-icon" src="css/Resources/icons/github.png" alt="github">
              <img class="crd-icon" src="css/Resources/icons/link.png" alt="link">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/finpet.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">finpet</p>
            <div class="card-body">
              <p class="card-text crd-normal">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <img class="crd-icon" src="css/Resources/icons/github.png" alt="github">
              <img class="crd-icon" src="css/Resources/icons/link.png" alt="link">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/finpet.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">finpet</p>
            <div class="card-body">
              <p class="card-text crd-normal">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <img class="crd-icon" src="css/Resources/icons/github.png" alt="github">
              <img class="crd-icon" src="css/Resources/icons/link.png" alt="link">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/finpet.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">finpet</p>
            <div class="card-body">
              <p class="card-text crd-normal">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <img class="crd-icon" src="css/Resources/icons/github.png" alt="github">
              <img class="crd-icon" src="css/Resources/icons/link.png" alt="link">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/finpet.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">finpet</p>
            <div class="card-body">
              <p class="card-text crd-normal">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <img class="crd-icon" src="css/Resources/icons/github.png" alt="github">
              <img class="crd-icon" src="css/Resources/icons/link.png" alt="link">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/finpet.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">finpet</p>
            <div class="card-body">
              <p class="card-text crd-normal">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <img class="crd-icon" src="css/Resources/icons/github.png" alt="github">
              <img class="crd-icon" src="css/Resources/icons/link.png" alt="link">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials">
      
      <div class="testimonial-cls">
        <h3 class="heading-big" style="text-align: center;">Testimonials</h3>
        <div id="carousel-testimonial" class="carousel slide cs-slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="crd-head">Sampad Adhikary</p>
              <p class="crd-subhead"><em>Designation</em></p>
              <p class="carousel-content">
                Sampad is a responsible student, who has effective interpersonal and presentation skills. It was a great experience of mine having him in my sessions as he always participated and created the positive environment in class. There I would like to acknowledge that he is a good team player and having effective leadership skills and critical thinking.
              </p>
            </div>
            <div class="carousel-item">
              <p class="crd-head">Sampad Adhikary</p>
              <p class="crd-subhead"><em>Designation</em></p>
              <p class="carousel-content">
                Sampad is a responsible student, who has effective interpersonal and presentation skills. It was a great experience of mine having him in my sessions as he always participated and created the positive environment in class. There I would like to acknowledge that he is a good team player and having effective leadership skills and critical thinking.
              </p>
            </div>
            <div class="carousel-item">
              <p class="crd-head">Sampad Adhikary</p>
              <em class="csl-subhead">Designation</em>
              <p class="carousel-content">
                Sampad is a responsible student, who has effective interpersonal and presentation skills. It was a great experience of mine having him in my sessions as he always participated and created the positive environment in class. There I would like to acknowledge that he is a good team player and having effective leadership skills and critical thinking.
              </p>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel-testimonial"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel-testimonial"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="footer-cls">
        <img class="footer-icon" src="css/Resources/icons/linkedin.png" alt="linkedin">
        <img class="footer-icon" src="css/Resources/icons/github.png" alt="github">
        <img class="footer-icon" src="css/Resources/icons/leetcode.png" alt="Leetcode">
        <img class="footer-icon" src="css/Resources/icons/facebook.png" alt="facebook">
        <img class="footer-icon" src="css/Resources/icons/link.png" alt="linktree">
        <h5>Designed & Developed by Sampad Adhikary ©️ 2023</h5>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
