<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sampad's Portfolio</title>
    <link rel="shortcut icon" href="css/Resources/icons/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&family=Space+Mono:ital,wght@0,700;1,400&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" >
  </head>
  <body>

    <div id="preloader"></div>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/css/Resources/icons/my logo.png" alt="Sampad Adhikary" width="100"></a>
        <button
        id="hamburger-btn"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link"href="#testimonials">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Me</a>
              </li>
              <li class="nav-item">
                <a rel="noopener" href="/resume" target="_blank"><button class="btn-resume" id="resumeBtn" >Resume</button></a>
                <!-- <button class="btn-resume" id="resumeBtn" onclick="">Resume</button>https://drive.google.com/file/d/1QT9QWryRGIGRRHRYoWSZxSFOad5-ChzE/view?usp=sharing -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section id="header">
        <div class="my-intro">
            <h4>Hi, I am</h4>
            <h2>Sampad Adhikary.</h2>
            <p class="h1" data-text="I&nbsp;Design&nbsp;and&nbsp;Develop.">I Design and Develop.</p>
            <div id="bio"><p id="intro-p">I am a budding Software Engineer, with each cup of coffee, I embark on a journey to create innovative solutions that enhance user experiences.  Let's grab a cup of coffee and talk about how we can create something amazing together!</b></p>
            </div>  
        </div>
    </section>

    <section id="weather">
      <div class="timeAndWeather">
        <h4>In my place it is</h4>
        <h4 id="currDate"><%= currentDate %></h4>
        <h2><%= currTime %></h2>
        <h4 id="currDate"><%= currTemp %> &deg C, Jalandhar, India</h4>
      </div>
    </section>

    <section id="getInTouch">
      <div class="get-in-touch">
        <a rel="noopener" href="#contact" ><button class="btn-get-in-touch">get in touch</button></a>
        <!-- <a rel="noopener" href="#contact" >get in touch</a> -->
      </div>
    </section>

    <section id="about">
      <div class="about">
        <h3 class="heading-big">About</h3>
      <div class="row about-row">
        <div class="col-6 about-content">
          <p class="content">I am a third-year student at Lovely Professional University pursuing a B.Tech in Computer Science & Engineering with a major in Full Stack Web Development. I am a quick learner and an easygoing person who takes a keen interest in problem solving and leaning different technologies in the field of web and mobile development.</p>
          <p class="content">I just love designing and developing web and mobile applications. I have mastered both classic skills and technologies like <b>C++</b>, <b>javascript</b>, <b>HTML</b> and <b>CSS</b>  the modern ones like <b>React</b>, <b> Node</b> and <b>Flutter</b> as well. I have created many projects to showcase my skills.</p>
          <p class="content">I started learning graphic designing 2 years back as a hobby which turned into a side hustle. I master in making social media posts, powerpoint presentations and logos. I have successfully completed several freelance projects.</p>
        </div>
        <div class="col-6 about-img">
        </div>
      </div>
    </div>
    </section>

    <section id="expertise">
      <div class="expertise">
        <div class="row expertise-row">
          <h3 class="heading-big">My Expertise</h3>
          <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12 expertise-box">
            <img class="expert-img" src="css/Resources/icons/dsa.png" alt="dsa">
            <p class="heading-small">DSA & Problem Solving</p>
            <p class="content">I have a strong grasp of data structures and algorithms . On different online coding platforms like <a href="https://leetcode.com/sampadadhikary031/" target="_blank"><b>leetcode</b></a>, <a href="https://www.hackerrank.com/sampadadhikary01?hr_r=1" target="_blank"><b>hackerrank</b></a>, and <a href="https://www.codechef.com/users/sampadadhikary" target="_blank"><b>codechef</b></a>, I have answered over a hundred questions. I have earned "February Leetcoding Challenge" badge on leetcode. I am having 2 🌟 on codechef.</p>
            <p class="content">My preferred coding language is <b>C++</b>.</p>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12 expertise-box">
            <img class="expert-img" src="css/Resources/icons/webdev.png" alt="dsa">
            <p class="heading-small">Full Stack Development</p>
            <p class="content">I simply adore creating mobile and web applications. I can create scalable apps because I have expertise in both frontend and backend technologies. I've already developed over six projects. </p>
            <p class="content">I have worked in <b>html</b>, <b>css</b>, <b>bootstrap</b>, <b>jQuery</b>, <b>javascript</b>, <b>node</b>, <b>react</b>, <b>flutter</b>, <b>firebase</b>, <b>git</b> and <b>github</b>.</p>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12 expertise-box">
            <img class="expert-img" src="css/Resources/icons/graphic.png" alt="dsa">
            <p class="heading-small">Graphic Designing</p>
            <p class="content">I've been working in graphic design for more than two years. I am proficient at with both paper and digital media. I am capable of producing powerpoint presentations, banners, posters, and posts on social media. I recently began working on UI/UX design.</p>
            <p class="content">My toolkit consists of <b>Adobe Illustrator</b>, <b>Canva</b>, <a href="https://www.figma.com/@sampadadhikary" target="_blank"><b>Figma</b></a>.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="github-stats">
      <h3 class="heading-big">Github Stats</h3>
      <div class="stats">
        <a href="https://github.com/Sampad-Adhikary" target="_blank">
          <!-- <img id="placeholder3" src="public/empty.svg" class="gh-chart" /> -->
          <img class="gh-chart" src="https://ghchart.rshah.org/A8755B/Sampad-Adhikary" alt="My Github Contribution"/>
        </a>
      </div>
    </section>

    <section id="projects">
      <div class="projects">
        <h3 class="heading-big">My Recent Projects</h3>
      <div class="row row-cols-1 row-cols-md-3  lg-4 project-row">
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/dsaCoach.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">DSA Coach</p>
            <div class="card-body">
              <p class="card-text crd-normal">This is a single page web application which helps its users to follow a list of problems that will help them learn Data Structures and Algorithms. I built this project using React designed the UI using Figma.</p>
              <a href="https://github.com/Sampad-Adhikary/dsa-coach" target="_blank"><img class="crd-icon" src="css/Resources/icons/github.png" alt="github"></a>
              <a href="https://dsa-coach.vercel.app/" target="_blank"><img class="crd-icon" src="css/Resources/icons/demo.png" alt="link"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/hab.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">habito - habit tracker</p>
            <div class="card-body">
              <p class="card-text crd-normal">A habit tracker application for mobile devices made using flutter and firebase. This is a team project which ranked 5th in a hackathon. I led the team.</p>
              <a href="https://github.com/Sampad-Adhikary/Habito---A-habit-tracker-" target="_blank"><img class="crd-icon" src="css/Resources/icons/github.png" alt="github"></a>
              <a href="https://drive.google.com/file/d/1uJNGV7Uwkt29jGYxw5U6J0hA9xnZde7y/view?usp=sharing" target="_blank"><img class="crd-icon" src="css/Resources/icons/demo.png" alt="link"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/todo.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">to-do list</p>
            <div class="card-body">
              <p class="card-text crd-normal">This is a straightforward to-do list web programme. I used Node JS, Express JS, EJS, and CSS to create it. It gives users the choice to organise work-related and general tasks.</p>
              <a href="https://github.com/Sampad-Adhikary/To-Do-List" target="_blank"><img class="crd-icon" src="css/Resources/icons/github.png" alt="github"></a>
              <a href="https://ill-pear-scarab-sari.cyclic.app/" target="_blank"><img class="crd-icon" src="css/Resources/icons/demo.png" alt="link"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/simon.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">simon game</p>
            <div class="card-body">
              <p class="card-text crd-normal">A small project called SIMON GAME was developed using HTML, CSS, JS, and Jquery. It</p>
              <a href="https://github.com/Sampad-Adhikary/Simon-Game-Master" target="_blank"><img class="crd-icon" src="css/Resources/icons/github.png" alt="github"></a>
              <a href="https://sampad-adhikary.github.io/Simon-Game-Master/" target="_blank"><img class="crd-icon" src="css/Resources/icons/demo.png" alt="link"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/jamwith.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">jam with drum</p>
            <div class="card-body">
              <p class="card-text crd-normal">Its a fun website where you can get the feel of playing different drums and feel like running an orcehstra. I used javascript, jQuery, HTML and CSS to build this website.</p>
              <a href="https://github.com/Sampad-Adhikary/Jam-With-Drum" target="_blank"><img class="crd-icon" src="css/Resources/icons/github.png" alt="github"></a>
              <a href="https://sampad-adhikary.github.io/Jam-With-Drum/" target="_blank"><img class="crd-icon" src="css/Resources/icons/demo.png" alt="link"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
          <div class="card project-card">
            <img src="css/Resources/pictures/gd.png"  class="card-img-top project-img" alt="...">
            <p class="card-text crd-head">graphic designs</p>
            <div class="card-body">
              <p class="card-text crd-normal">This repository contains all of my personal and freelance work samples.</p>
              <a href="https://github.com/Sampad-Adhikary/Graphic-Design-Gallery" target="_blank"><img class="crd-icon" src="css/Resources/icons/github.png" alt="github"></a>
              <a href="https://github.com/Sampad-Adhikary/Graphic-Design-Gallery" target="_blank"><img class="crd-icon" src="css/Resources/icons/demo.png" alt="link"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials">
      
      <div class="testimonial-cls">
        <h3 class="heading-big" style="text-align: center;">Testimonials</h3>
        <div id="carousel-testimonial" class="carousel slide cs-slide">
          <div class="carousel-inner " >
            <div class="carousel-item active">
              <a href="https://www.linkedin.com/in/rachel-lyall-1b05b1a9/" target="_blank"><p class="crd-head">Rachel Lyall</p></a>
              <p class="crd-subhead"><em>Corporate Trainer/ Life Coach/ Public Speaker /Learning and Development</em></p>
              <p class="carousel-content">
                Sampad is a responsible student, who has effective interpersonal and presentation skills. It was a great experience of mine having him in my sessions as he always participated and created the positive environment in class. There I would like to acknowledge that he is a good team player and having effective leadership skills and critical thinking.
              </p>
              <p class="crd-subhead"><em>via LinkedIn</em></p>
            </div>
            <div class="carousel-item">
              <a href="https://www.linkedin.com/in/ershilpasharma/" target="_blank"><p class="crd-head">Dr. Shilpa Sharma</p></a>
              <p class="crd-subhead"><em>Associate Professor at Lovely Professional University</em></p>
              <p class="carousel-content">
                I was impressed with his unique learning and grasping power and observed a refreshing originality in his approach towards poster designing. He is prompt in analysing and in drawing conclusions. He has proven himself to have the perseverance, initiation, and he possesses greater amount of determination and willingness to achieve greater career heights.
              </p>
              <p class="crd-subhead"><em>via LinkedIn</em></p>
            </div>
            <div class="carousel-item">
              <a href="https://www.linkedin.com/in/khushibindal/" target="_blank"><p class="crd-head">Khushi Bindal</p></a>
              <em class="csl-subhead">CEO at Student Organization MAGNESIA</em>
              <p class="carousel-content">
                Sampad Adhikary is one of the most reowned and generous human I've known. He has always been the most active and creative member of organisation. Besides from being a talented graphic designer, he strongly possess the skills of team work, time management and leadership. He binds his team members in such a healthy and positive connection that only a true leader could do.
              </p>
              <p class="crd-subhead"><em>via LinkedIn</em></p>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel-testimonial"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel-testimonial"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>

    <section id="contact">
      <h3 class="heading-big">Contact Me</h3>
      <div class="row contact-row">
        <div class="col-md-6 col-sm-12 email">
          <a href="mailto:sampadadhikary031@gmail.com"><div class="email-btn" >mail me</div></a>
        </div>
        <div class="col-md-6 col-sm-12 email">
          
          <p class="content">Please don't hesitate to get in contact if you're interested in working with me! I'm interested in full-time employment options, apprenticeships, and independent projects. You can contact me or use the form below to get in touch with me. I'm eager to hear from you and talk with you about how we can collaborate to turn your concepts a reality.</p>
        </div>
      </div>

    </section>

    <section id="cta">
        <h3 class="heading-big">Want to work together ?</h3>
        <form action="https://formsubmit.co/sampadadhikary031@gmail.com" method="POST" class="row g-3">
          <div class="col-md-6 form-cta">
            <input type="text" class="form-control" id="inputName" name="firstname" placeholder="Firstname">
            
          </div>
          <div class="col-md-6 form-cta">
            <input type="text" class="form-control" id="inputMobile" name="lastname" placeholder="Lastname">
          </div>
          <div class="col-md-6 form-cta">
            <input type="text" class="form-control" id="inputSubject" name="subject" placeholder="Enter your subject">
          </div>
          <div class="col-md-6 form-cta">
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="abc123@gmail.com">
          </div>
          <div class="col-12">
            <input type="text" class="form-control input-message" name="message" id="inputMessage"  placeholder="Hello Sam, I have a message for you...">
          </div>
          <div class="col-12" style="text-align: center;">
            <button type="submit" class="btn-submit">Submit</button>
            <!-- <button type="submit">submit</button> -->
          </div>
        </form>
      </div>
    </section>


    <section id="footer">
      <div class="footer-cls">
        <a href="https://www.linkedin.com/in/sampad-adhikary-b09051196/" target="_blank"><img class="footer-icon" src="css/Resources/icons/linkedin.png" alt="linkedin"></a>
        <a href="https://github.com/Sampad-Adhikary/My-Portfolio" target="_blank"><img class="footer-icon" src="css/Resources/icons/github.png" alt="github"></a>
        <a href="https://leetcode.com/sampadadhikary031/" target="_blank"><img class="footer-icon" src="css/Resources/icons/leetcode.png" alt="Leetcode"></a>
        <a href="https://www.facebook.com/Sam.adhikary31" target="_blank"><img class="footer-icon" src="css/Resources/icons/facebook.png" alt="facebook"></a>
        <a href="https://linktr.ee/sampadadhikary" target="_blank"><img class="footer-icon" src="css/Resources/icons/link.png" alt="linktree"></a>
        <a href="https://www.figma.com/@sampadadhikary" target="_blank"><img class="footer-icon" src="css/Resources/icons/figma.png" alt="figma"></a>
        <a href="https://www.instagram.com/_lonewarrior___/" target="_blank"><img class="footer-icon" src="css/Resources/icons/instagram.png" alt="instagram"></a>
        <h5>Designed & Developed by Sampad Adhikary <img src="/css/Resources/icons/my logo.png" alt="logo" style="width: 50px; margin-bottom: 1px;"> © 2023</h5>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script>
      var loader = document.getElementById("preloader");
      window.addEventListener("load",setTimeout(function(){
        loader.style.display = "none";
      },2000))
    </script>

  </body>
</html>