html{
    scroll-behavior: smooth;
}

body{
    padding-left: 5vw;
    padding-right: 5vw;
    /* margin-top: 5vw; */
    background-color: #110A08;
    font-family: 'Roboto', sans-serif;
    color: #A8755B;
}

/* NAVABAR */

.navbar {
    position: fixed;
    width: 90%;
    background-color: rgba(17, 10, 8, 0.9);
    z-index: 1;
  }

.navbar-brand{
    width: 50px;
}
.navbar-nav{
    text-align: center;
    box-shadow: inset;
    font-family: 'Space Mono', monospace;
}
.nav-link{
    color: #A8755B;
    padding-right: 10px;
    margin: 5px;
}

.nav-link:hover{
    color: #E5E5CB;
}

.navbar-toggler-icon{
    background-image: url(hamburger.png);
}

#hamburger-btn{
    border:none;
}

.btn-resume{
    width: 140px;
    height: 40px;
    background-color: #110A08;
    color: #A8755B;
    border: 2px solid #A8755B;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
    
}

.btn-resume:hover{
    color: #E5E5CB;
    border: 2px solid #E5E5CB;
}

a{
    text-decoration: none;
    color: #A8755B;
}
a:hover{
    color: #E5E5CB;
}

/* INTRO */

.my-intro{
    max-width:max-content;
    /* margin-top: 5vw; */
    padding-top: 9vw;
}

h4{
    color: #E5E5CB;
    font-family: 'Space Mono', monospace;
}

h1{
    color: #A8755B;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

h2{
    color: #FFC3A1;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 4rem;
}

#bio{
    width: 55%;
    color: #A8755B;
}

/*WEATHER DATA*/

.timeAndWeather{
    /* float: right; */
    text-align: right;
    padding-top: 5%;
}

#currDate{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #A8755B;
    font-size: 1.5 rem;
}

/*GET IN TOUCH BUTTON*/

.get-in-touch{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}



.btn-get-in-touch{
    width: 200px;
    height: 50px;
    background-color: #110A08;
    color: #A8755B;
    border: 2px solid #A8755B;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.btn-get-in-touch:hover{
    color: #E5E5CB;
    border: 2px solid #E5E5CB;
    width: 220px;
    height: 50px;
    transition: 0.5s;
}

/* ABOUT ME */

.about{
    max-width:max-content;
    padding-top: 5%;
    padding-bottom: 5%;
    /* padding-left: 5vw;
    padding-right: 5vw; */
}

.about-row{
    margin-top: 2%;
}

.heading-big{
    color: #A8755B;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.about-img{
    background-image: url(/css/Resources/pictures/samy.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    /* margin-left: 5%; */
    margin-top:auto ;
    margin-bottom: auto;
    margin-left: 2%;
    vertical-align: middle;
    text-align:left;
    display: flex;
    align-items: center;
}
.about-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-image: url(/css/Resources/pictures/sam.png);
}

/* MY EXPERTISE */

.expertise{
    max-width:max-content;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.expertise-box{
    border-radius: 5px;
    border-width: 2px;
    border-color: #A8755B;
    border-style: solid;
    width: 400px;
    height: 300px;
    margin: 2%;
    padding: 15px 10px 15px 10px;
    text-align: center;
}

.expertise-box:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border-color: #E5E5CB;
    color: #E5E5CB;
}

.heading-small{
    display: inline-block;
    color: #A8755B;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    overflow: visible;
    width: 200px;
    text-align: left;
}

.expert-img{
    float:left;
    margin: 2px;
}

/*GITHUB - STATS*/

#github-stats{
    /* max-width:max-content; */
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.stats{
    padding-top: 2%;
    margin: 0 auto;
}
.gh-chart{
    width: 80%;
    src: url(https://ghchart.rshah.org/A8755B/Sampad-Adhikary.svg);
}

/* PROJECTS */

#projects{
    max-width:max-content;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.project-row{
    margin-top: 2%;
}

.project-card{
    background-color: #3C2A21;
    text-align: left;
    width: 350px;
    height: 400px;
    margin: 0px auto;
    margin-top:15px ;
    border-radius: 5px;
}


.project-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.project-img{
    width: 340px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.crd-head{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    color: #E5E5CB;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px; ;
}

.crd-normal{
    font-family: 'Ubuntu', sans-serif;
    color: #E5E5CB;
    margin-bottom: 0px;
}

.crd-icon{
    width: 30px;
    margin-right: 10px;
    margin-top: 15px;
}

/* TESTIMONIALS */


.testimonial-cls{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.carousel-item{
    text-align: center;
    margin: 0 auto;
}

.cs-slide{
    width: 100%;
    height: 100%;
    background-color: #3C2A21;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.carousel-content{
    width: 70%;
    margin: 0 auto;
    color: #E5E5CB;
}

em{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: #E5E5CB;
}

/* CONTACT ME */

#contact{
    max-width:max-content;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: right;
}

.contact-row{
    margin-top: 2%;
}

.email{
   align-items: center;
   vertical-align: middle;
}

.email-btn{
    margin: 0 auto 0 auto;
    /* margin: auto; */
    width: 15rem;
    height: 4rem;
    border-radius: 5px;
    border-color: #A8755B;
    border-width: 2px;
    border-style: solid;
    color: #A8755B;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    padding-top: 0.5rem;
}

.email-btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border-color: #E5E5CB;
    color: #E5E5CB;
}

/* CTA FORM */

.row{
    margin-top:2% ;
}

#cta{
    max-width:100%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.form-control{
    background-color: #A8755B;
    color: #E5E5CB;
    border: none;
    font-weight: 500;
    font-size: 1rem;
}

.form-control:focus{
    background-color: #3C2A21;
    color: #E5E5CB;
    box-shadow: none;
}

.btn-submit{
    font-family: 'Ubuntu', sans-serif;
    box-shadow: inset;
    background-color: #3C2A21;
    color: #E5E5CB;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
    height: 2.5rem;
}

.btn-submit:hover{
    /* width: 100%; */
    transform: scale(1.0);
    transition: 0.5s;
    background-color: #E5E5CB;
    color: #3C2A21;
}

/*FOOTER CLASS*/

.footer-cls{
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: #AA8877;
}

.footer-icon{
    margin-bottom: 30px;
    width: 30px;
    margin-right: 15px;
}

/* RESPONSIVE */

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {

    border-radius: 5px;
    background-color: #AA8877;
    -webkit-box-align: center;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    .navbar {
        
        padding-right: 5vw; /* Corresponds to 10% of the viewport width */
        padding-left: 5vw; /* Corresponds to 10% of the viewport width */
    }
    .my-intro{
        /* text-align: center; */
        padding-top: 20vw;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .timeAndWeather{
        /* text-align: center; */
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .about{
        /* text-align: center; */
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .expertise{
        display: flex;
        justify-content: center;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .expertise-row{
        display: flex;
        justify-content: center;
    }
    .about-row{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .project-row{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contact-row{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #contact, #about,#cta,#expertise{
        text-align: center;
    }
    .email{
        margin-top: 2%;
        margin-bottom: 2%;
    }
}